<div class="div">
    <h1>Buenas {{this.user}} bienvenido a la clinica Integrity</h1>
    <div class="div2">
      <h2>
        Unas indicaciones rapidas:
      </h2>
      <ol>
        <li>En la esquina superior izquierda el menu desplegable</li>
        <li>¿No encuentras la opcion que estas buscando? Probablemente no estes autorizado</li>
      </ol>
    </div>
    <!--<div class="cat">
        <div class="ear ear--left"></div>
        <div class="ear ear--right"></div>
        <div class="face">
          <div class="eye eye--left">
            <div class="eye-pupil"></div>
          </div>
          <div class="eye eye--right">
            <div class="eye-pupil"></div>
          </div>
          <div class="muzzle"></div>
        </div>
    </div>-->
</div>
